@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #8e6bd6;
  --color-secondary: #6b3ee4;
  --color-background: #f3f4f6;
  --color-primary-light: #b9a3e6;

  --color-red-base: #ff5252;
  --color-green-base: #4caf50;
  --color-yellow-base: #ffd166;

  --color-text-primary: #21262f;
  --color-text-tertiary: #6a737d;
  --color-text-secondary: #586069;

  --color-border-primary: #e5e7eb;

  --default-font-family: "Poppins", sans-serif;
}

::root {
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: #cbcbcb;
  }
}

body {
  background-color: var(--color-background);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0.25rem;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #cbcbcb;
}